<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_cd})}">
    Edit Cd - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('CdsCollectionThymeleafController')},itemLink=${@linkBuilder.of('CdsItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_cd})}">Edit Cd</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${cd}" data-th-action="${itemLink.to('update').with('cd', cd.id)}">
            <input type="hidden" name="_method" value="PUT" />
            	<input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div data-th-replace="~{fragments/concurrency-control :: concurrency-control(editFormUrl = ${itemLink.to('editForm').with('cd', cd.id)})}"></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_cd})}">Cd data </legend>

<div class="form-group has-error has-feedback" data-z="ad6e768c" id="cd-name-field" data-th-classappend="${#fields.hasErrors('name')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="name" class="col-md-3 control-label" data-th-text="#{label_cd_name}">name</label>
  <div class="col-md-6">
    <input id="name" name="name" data-th-value="*{{name}}" type="text" class="form-control" placeholder="name" data-th-placeholder="#{label_cd_name}" data-toggle="tooltip" aria-describedby="nameStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('name')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('name')}" aria-hidden="true"></span>
      <span id="name-error" class="help-block" data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="78543b32" id="cd-performer-field" data-th-classappend="${#fields.hasErrors('performer')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="performer" class="col-md-3 control-label" data-th-text="#{label_cd_performer}">performer</label>
  <div class="col-md-6">
    <input id="performer" name="performer" data-th-value="*{{performer}}" type="text" class="form-control" placeholder="performer" data-th-placeholder="#{label_cd_performer}" data-toggle="tooltip" aria-describedby="performerStatus" />
      <span data-th-classappend="${#fields.hasErrors('performer')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('performer')}" aria-hidden="true"></span>
      <span id="performer-error" class="help-block" data-th-if="${#fields.hasErrors('performer')}" data-th-errors="*{performer}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="e93687d2" id="cd-releaseyear-field" data-th-classappend="${#fields.hasErrors('releaseYear')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="releaseYear" class="col-md-3 control-label" data-th-text="#{label_cd_releaseyear}">releaseYear</label>
  <div class="col-md-6">
    <input id="releaseYear" name="releaseYear" data-th-value="*{{releaseYear}}" type="text" class="form-control" placeholder="releaseYear" data-th-placeholder="#{label_cd_releaseyear}" data-toggle="tooltip" aria-describedby="releaseYearStatus" />
      <span data-th-classappend="${#fields.hasErrors('releaseYear')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('releaseYear')}" aria-hidden="true"></span>
      <span id="releaseYear-error" class="help-block" data-th-if="${#fields.hasErrors('releaseYear')}" data-th-errors="*{releaseYear}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="7902a92" id="cd-diskcount-field" data-th-classappend="${#fields.hasErrors('diskCount')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="diskCount" class="col-md-3 control-label" data-th-text="#{label_cd_diskcount}">diskCount</label>
  <div class="col-md-6">
    <input id="diskCount" name="diskCount" data-th-value="*{{diskCount}}" type="text" class="form-control" placeholder="diskCount" data-th-placeholder="#{label_cd_diskcount}" data-toggle="tooltip" aria-describedby="diskCountStatus" />
      <span data-th-classappend="${#fields.hasErrors('diskCount')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('diskCount')}" aria-hidden="true"></span>
      <span id="diskCount-error" class="help-block" data-th-if="${#fields.hasErrors('diskCount')}" data-th-errors="*{diskCount}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="3833d20c" id="cd-medium-field" data-th-classappend="${#fields.hasErrors('medium')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="medium" class="col-md-3 control-label" data-th-text="#{label_cd_medium}">medium</label>
  <div class="col-md-6">
    <input id="medium" name="medium" data-th-value="*{{medium}}" type="text" class="form-control" placeholder="medium" data-th-placeholder="#{label_cd_medium}" data-toggle="tooltip" aria-describedby="mediumStatus" />
      <span data-th-classappend="${#fields.hasErrors('medium')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('medium')}" aria-hidden="true"></span>
      <span id="medium-error" class="help-block" data-th-if="${#fields.hasErrors('medium')}" data-th-errors="*{medium}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="927e2ff2" id="cd-label-field" data-th-classappend="${#fields.hasErrors('label')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="label" class="col-md-3 control-label" data-th-text="#{label_cd_label}">label</label>
  <div class="col-md-6">
    <input id="label" name="label" data-th-value="*{{label}}" type="text" class="form-control" placeholder="label" data-th-placeholder="#{label_cd_label}" data-toggle="tooltip" aria-describedby="labelStatus" />
      <span data-th-classappend="${#fields.hasErrors('label')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('label')}" aria-hidden="true"></span>
      <span id="label-error" class="help-block" data-th-if="${#fields.hasErrors('label')}" data-th-errors="*{label}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="134db66c" id="cd-status-field" data-th-classappend="${#fields.hasErrors('status')}? 'has-error has-feedback'" data-th-class="form-group">
    <label for="status" class="col-md-3 control-label" data-th-text="#{label_cd_status}">status</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{status}" class="form-control dropdown-select-simple" data-allow-clear="true" data-th-attr="data-placeholder=#{info_select_an_option}">
         <option data-th-each="item : ${status}" data-th-value="${item}" data-th-text="${{item}}">Value</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('status')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('status')}" aria-hidden="true"></span>
      <span id="status-error" class="help-block" data-th-if="${#fields.hasErrors('status')}" data-th-errors="*{status}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" id="cd-added-field" data-z="3f3a1e72" data-th-classappend="${#fields.hasErrors('added')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="added" class="col-md-3 control-label" data-th-text="#{label_cd_added}">added</label>
  <div class="col-md-3">
    <input id="added" name="added" data-th-value="*{{added}}" type="text" class="form-control datetimepicker" placeholder="added" data-th-placeholder="#{label_cd_added}" data-th-attr="data-dateformat=${added_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('added')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('added')}" aria-hidden="true"></span>
     <span id="added-error" class="help-block" data-th-if="${#fields.hasErrors('added')}" data-th-errors="*{added}">Error message.</span>
  </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <!-- Concurrency control management -->
    <script data-th-src="@{/public/js/concurrency-control.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
